.todoapp {
	display: flex;
	flex-direction: column;
	/* background-color: red; */
	width: 100%;
	/* then 70 */
	align-items: center;
	justify-content: center;
}
.todoappContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.pagetitle {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.submit-area {
	margin-top: 20px;
}
.Main {
	display: flex;
	flex-direction: row;
	height: 80vh;
}
.saved-notes {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30%;
	/* then 30 */
	margin-top: 20px;
	display: none;
}
.one-note {
	/* border-bottom: 2px solid black; */
	padding: 5px;
	margin-top: 20px;
}
