.todoapp {
	display: flex;
	flex-direction: column;
	/* background-color: red; */
	width: 100%;
	/* then 70 */
	align-items: center;
	justify-content: center;
}
.submit-area {
	margin-top: 20px;
}
.Main {
	display: flex;
	flex-direction: row;
	height: 80vh;
}
.saved-notes {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 0;
	/* then 30 */
}
.one-note {
	border-bottom: 2px solid black;
	padding: 5px;
}
